# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Build output
build/
dist/

# PyInstaller
*.spec

# Logs
*.log

# IDE files
.vscode/
.idea/


# OS files
.DS_Store
Thumbs.db

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Temporary files
*.tmp
*.bak

# Ignore specific Python scripts
alo_reader.py
hp_generator.py
hp_generator_GUI.py
hp_xml_importer.py

# Ignore icon files
icon.icns
icon.ico
icon.png

.github/